.vscode/launch.json
day04/test.txt
day04/input.txt
day05/input.txt
day05/test.txt
day06/input.txt
day06/test.txt
day07/input.txt
day07/test.txt
day08/input.txt
day08/test.txt
day09/input.txt
day09/test.txt
